/*  $Id$ */

#contactform {
}

#contactform label {
  display: inline;
  font-size: 1em;
  font-weight: bold;
  margin: 2px 0;
}

#contactform label:before {
  content: url("../pnimages/bullet.gif");
  margin-right: 0.5em;
}

#contactform .mandatory:after {
  content: "*";
  color: red;
  margin-left: 0.5em;
}

#contactform input,
#contactform select,
#contactform textarea {
  margin: 3px 0;
}

#contactform .formborder {
  border: 1px solid #ccc;
  padding: 5px;
  width: 80%;
}

#contactform input:focus,
#contactform select:focus,
#contactform form .formborder:focus,
#content textarea:focus {
  border-color: #ccc;
  background-color: #eee;
}

#contactform textarea {
  width: 99%;
}

#contactform .validation-failed {
  border: 1px solid red!important;
}

#contactform .custom-advice {
  color:red!important;
}

#formicula-admin {
  /*  padding-top: 2em; */
}

#formicula-admin .footer {
  font-size: 0.8em;
  text-align: center;
  margin-top: 1em;
}

#formicula-admin .headerlink {
  width: 33%;
  float: left;
  text-align: center;
}

#formicula-admin .error {
  color: red;
}

#formicula-admin .delete {
  text-align: center;
}

#formicula-admin td {
  padding: 0.3em 0 0.3em 0.5em;
  vertical-align: top;
}

#formicula-admin dl dt {
  clear:both;
  display:block;
  float:left;
  line-height:2em;
  margin:0.5em;
  padding:0;
  text-align:right;
  width:20%;
}

#formicula-admin dl dd {
  display:block;
  float:left;
  line-height:2em;
  margin:0.5em;
  padding:0;
  text-align:left;
  width:50%;
}

