<!DOCTYPE html>
<html>
    <head>
        <title>{{ __('Make a reservation') }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <base href="{{ pagevars.homepath|e }}" />
    </head>
    <body>
{{ include('@ZikulaFormiculaModule/Form/3/userMail.txt.twig')|nl2br }}
    </body>
</html>
