{{ include('@ZikulaFormiculaModule/Form/3/userHeader.html.twig') }}

<p class="alert alert-danger">
    {{ __('There is an error in your input.') }}
    <br /><br />
    <a href="javascript:history.back(-1)">{{ __('Go back to the form') }}</a>
    <br /><br />
</p>

{{ include('@ZikulaFormiculaModule/Form/3/userFooter.html.twig') }}
