{{ include('@ZikulaFormiculaModule/Form/0/userHeader.html.twig') }}

<p class="alert alert-danger">
    {% trans %}There is an error in your input.{% endtrans %}
    <br /><br />
    <a href="javascript:history.back(-1)">{% trans %}Go back to the form{% endtrans %}</a>
    <br /><br />
</p>

{{ include('@ZikulaFormiculaModule/Form/0/userFooter.html.twig') }}
