{% if enableSpamCheck %}
    <div class="form-group">
        <label for="formiculaMath" class="control-label required col-md-3">{% trans %}Please solve this calculation{% endtrans %}</label>
        <div class="col-md-9">
{#            {{ zikulaformiculamodule_simpleCaptcha() }}#}
            {# example for custom arguments:
                zikulaformiculamodule_simpleCaptcha(font='arial', size=20, bgColour='ffffff', fgColour='0000ff')
            #}
            <input id="formiculaMath" name="captcha" type="text" size="5" maxlength="5" value="" />
            <span class="help-block">{% trans %}(to prevent spam){% endtrans %}</span>
        </div>
    </div>
{% endif %}
